<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

    <div id="app">
        <label for="email" >Email:</label>
        <input type="email" v-model="email">
        <br><br>
        <label for="password" >Password:</label>
        <input type="password" v-model="password">
    <p>email:{{email}}</p>
    <p>Password:{{password}}</p> </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    email:'',
                    password:''
                }
            }
        }).mount('#app')
    </script>
</body>
</html>